<nav class="navbar  navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Test Application</a>
    </div>
  </div>
</nav>

<div class="container loginContainer">
  <div class="header">
    <span class="headerText">Test application</span>
  </div>
  <form (keydown)="keyDownFunction($event)">


    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" onfocus="this.removeAttribute('readonly');" [(ngModel)]="username" name="username" readonly >
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" onfocus="this.removeAttribute('readonly');" [(ngModel)]="password" name="password" readonly >
        <label for="password">Password</label>
      </div>
    </div>
    <p class="errorMessage" *ngIf="showErrorMessageAtLogin">{{errorMessageAtLogin}}</p>

    <div class="center">
      <a class="waves-effect waves-light btn" (click)="stateGo()">Login</a>

    </div>
  </form>
  <br>
</div>

