
.errorMessage{
  color: red;
  text-align: center;
  font-size: medium;
  font-family: "Segoe UI", sans-serif;

}
.loginContainer{
  border: 1px solid #26a69a;
  width: 50%;
  margin: 5% auto;
}
.header{
  background-color: #26a69a;
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-size: medium;
  text-align: center;
  height:45px;
}
.headerText{
  vertical-align: -webkit-baseline-middle;
}
.navbar-brand{
  font-family: "Segoe UI", sans-serif;
  font-size: large;
}
.navbar{
  background-color: #26a69a;
}
@media(max-width:576px){
  .loginContainer{
    border: 1px solid #26a69a;
    width: 75%;
    margin: 15% auto;

  }
}

